<div>
  <img src="/assets/profile-pic.jpg" alt="Headshot of Arturo Filastò">
  <p>
    I write free software to measure and
    improve the internet 🔬👨. I'm the Founder, Executive Director and CTO of
    <a href="https://ooni.org">OONI</a>, Co-Founder and Vice-President of the <a
    href="https://hermescenter.org/">Hermes Center for Digital Human Rights</a> and I used to work for the <a href="https://torproject.org/">Tor Project</a>.
    I live in Rome, Italy.
    You can follow me on <a href="https://www.twitter.com/hellais" target="_blank">Twitter</a>
    or check out my code on <a href="https://www.github.com/hellais" target="_blank">GitHub</a>.
  </p>
</div>
<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
